/* Foundation tweaks */

/* Tab/top bar */
.tab-bar,
.top-bar {
	margin-bottom: 1.25rem;
}

/* Blog */

.blog-post-list {
	list-style-type: none;
}

.blog-post-list .post-link {
  font-size: 18px;
  letter-spacing: -1px;
  line-height: 1;
}

.blog-post-list .post-date {
  display: block;
  font-size: 12px;
  color: #818181;
}

.blog-post-header h1 {
	margin: 0;
}

/* Site footer */

.site-footer {
  	border-top: 1px solid #e8e8e8;
  	padding: 30px 0;
  	position: relative;
	margin-top: -180px; /* negative value of footer height */
	height: 180px;
	clear:both;
}

.footer-heading {
  font-size: 18px;
  font-weight: 300;
  letter-spacing: -.5px;
  margin-bottom: 15px;
}

.site-footer ul { list-style: none; }

.site-footer li,
.site-footer p {
  font-size: 15px;
  letter-spacing: -.3px;
  color: #828282;
}


.github-icon-svg,
.twitter-icon-svg,
.rss-icon-svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  position: relative;
  top: 3px;
}

/* General/global styles */

@media only screen {
	body {
		background-color: white;
	}
	
	.content-container {
		/*background-color: rgba(255,255,255,0.8);*/
		margin-bottom: 0.5em;
		border-radius: 5px;
	}
	
	.post-header {
		/* Nothing */
	}
	
}

@media only screen and (min-width: 40.063em){
	body {
		background-image: url(../images/sitebg.jpg);
		background-size: 100% auto;
	}
	
	.content-container {
		background-color: rgba(255,255,255,0.6);
		padding: 0.7em 0.7em;
		margin-bottom: 0.5em;
		border-radius: 5px;
	}
	
	.site-footer {
	  border-top: 1px solid #e8e8e8;
	  background-color: rgba(255,255,255,0.8);
	  width: 100%;
	  position: absolute;
	  bottom: 0;
	  left: 0;
	}
	
	.post-header {
		background-color: rgba(255,255,255,0.6);
		border-radius: 5px;
	}
	
	.post-header h1 {
		margin-left: 0.5em;
	}
	
	
	#pagecontent {
		min-height: 100%;
		position: relative;
	}
	
	#maincontent {
		padding: 1em;
		padding-bottom: 180px; /* fix this */
	}
	
}
