---
layout: page
title: About Me
menu-title: About
permalink: about/
---
<div class="content-container">
	<h3> Background </h3>

	<p> I am an engineering student (and a defector from an earlier, much less stimulating Physics degree) in Auckland, New Zealand. My interests primarily lie in the fields of Engineering Physics/Science, especially continuum mechanics and modelling as applied to aerospace engineering, where I hope to go into research.</p>

	<p> I also have a strong interest in computers and technology, which has stuck with me from a young age. Aside from completing two years of study in the field of Computer Science, I am also a freelance software developer. While web development and technologies are still fairly new to me, I am in the process of learning more about them. The incredible advances in interactive user experiences on the Web in recent years are particularly exciting to me, and I'm currently spending a lot of my time dabbling in AJAX and JavaScript.</p>
</div>

<div class="content-container">
	<h3> Hobbies </h3>

	<p> My interest in computers goes beyond just work, and I spend a lot of my free time programming for personal projects. At this point, two of these projects that I have released (all very recently!) are <a href="{{"/projects/" | prepend: site.url }}">here</a>. There are many more, but most of them would be useless or shocking to other people... I hope to produce more "contributable" stuff in the future! </p>

	<p> I am also a brass musician, having learnt the trumpet since the age of seven. I moved onto the euphonium for a few years in school while receiving orthodontic treatment but still, somehow, managed to snag my only win in the regional brass band solo competition! I have sadly had much less time to partake in the creation of music since beginning my studies at University, but hope to make it a bigger part of my life again in the next year. </p>
</div>

