---
layout: default
title: Home
permalink: /
---
<div class="row">
<div id="home_main_content" class="small-12 medium-8 columns">
  <div class="content-container">
  <h2>Welcome</h2>
  
  <p>Welcome to my shiny new website! In the coming few days I will work on theming and restructuring various aspects of this site to make it a little more "me". In the meanwhile... Remember to put on your sunglasses!</p>
  </div>
  
  <div class="content-container">
  <h3>My Projects</h3>
  
  <p>If you've come here looking for a project I've worked on (there aren't very many at this point...)</p>
  
  <ul>
    <li><a href="http://auttimetable.richardhofman.co.nz" target="_blank">Unofficial AUT Timetable Getter</a></li>
    <li><a href="https://gist.github.com/richardhofman6/705cf46da7a9e1587104" target="_blank">Vodafone NZ Internet Usage Tracker</a></li>
  </ul>
  
  <p>Enjoy! More to come in the near future. Because, you know, I don't really have anything else to do or anything.</p>
  
  </div>
  
</div>

<div id="home_social_content" class="show-for-medium-up medium-4 columns">
<a class="twitter-timeline" href="https://twitter.com/richardhofman6" data-widget-id="496472927978541056">Tweets by @richardhofman6</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>

</div>
