---
title: Music
menu-title: Music
layout: page
permalink: /music/
---
<div class="content-container">
<h4> Purpose of this page </h4>
<p>Here, in the future, you will find stuff relating to my admittedly rather limited involvement in the performance of music. I intend to make this a larger part of my life in the coming year, so hopefully this will get fleshed out somewhat!</p>
</div>

<div class="content-container">
    <h4> What I Do </h4>
	<p> I am currently sitting on the Repiano Cornet chair at <a href="http://www.aucklandcitybrass.co.nz" target="_blank">Auckland City Brass</a>. This is a moderately challenging role - though not enough to make me practise! - and has improved my standard somewhat since I left high school.</p>
	<p> Auckland City Brass is unique amongst New Zealand brass bands. Its members represent a refreshingly wide variety of cultures, which has partly cultivated a more modern take on what a "community brass band" should be in this day and age. That being said, we also participate in more traditional banding events around NZ. The <a href="{{ "/images/sitebg.png" | prepend: site.url }}" target="_blank">background image</a> for this website was, in fact, taken (in <a href="http://www.bluff.co.nz/" target="_blank">Bluff, New Zealand</a>) at the 2014 NZ Nationals!</p>
    <p> If you are looking for a brass band in Auckland for whatever reason (community events, private functions, etc.) I can personally vouch that Auckland City Brass will be awesome! </p>
    <br />
    <p> I am also Band Manager and webmaster for ACB, and in the past year have, along with my fellow band manager, won just over $22,000 in grants for the band.</p>
</div>