---
layout: page
title: My Projects
menu-title: Projects
permalink: /projects/
---

<div class="content-container">
	<p> Since I was young, I have always enjoyed creating new things, and improving existing things. As school moved on, and my available
	time slowly dwindled, I got out of the habit of making cool stuff. In the last three years I have rediscovered the importance of working
	on personal projects - it helps improve one's problem solving, ability to retain new information, and generally makes you more efficient.</p>
    
    <p>This page is to list some of the software projects I've worked on in the past few years (and longer, as time goes on!)
    At this point, I don't have much to show for my years of tinkering (mainly because I never bothered to post them online),
    but I will showcase more of my work in the future.</p>
    
    <p>Normally, my projects will have dedicated websites elsewhere, or will be fairly self explanatory. Where this is not the
    case, I'll link to a page with a better description and background. For now... Behold my very short list of real-world achievements!</p>
    
    <ul>
    	<li><a href="http://auttimetable.richardhofman.co.nz" target="_blank">AUT Timetable Fetcher</a></li>
    	<li><a href="https://gist.github.com/richardhofman6/705cf46da7a9e1587104" target="_blank">Vodafone NZ Internet Usage Tracker</a></li>
    </ul>
    
    
</div>