<script src="{{ "/js/vendor/jquery.js" | prepend: site.url }}"></script>
<script src="{{ "/js/foundation.min.js" | prepend: site.url }}"></script>
<!-- Start -->
<script src="{{ "/js/rh.js" | prepend: site.url }}"></script>
