<!-- HEADER -->
<!-- Creates off-canvas menu and sets up context for main content -->

<div class="off-canvas-wrap show-for-small-only" data-offcanvas>
	<div class="inner-wrap" id="innerwrap">
		<aside class="left-off-canvas-menu">
			<ul class="off-canvas-list">
			<li><label> {{ site.title }} </label></li>
			<li><a {% if page.title == "Home" %}class="active"{% endif %} href="/">Home</a></li>
			{% for node in site.pages %}
				{% if node.menu-title %}<li><a {% if node.title == page.title %}class="active"{% endif %} href="{{ node.url }}">{{ node.menu-title }}</a></li>{% endif %}
			{% endfor %}
			</ul>
		</aside>
		<nav class="tab-bar">
			<section class="left-small">
				<a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
			</section>

			<section class="middle tab-bar-section">
			<h1 class="title"> {{ site.title }} </h1>
			</section>
		</nav>
	</div>
</div>

<div class="fixed show-for-medium-up">
	<nav class="top-bar" data-topbar>
		<ul class="title-area">
		<li class="name">
			<h1><a href="#">{{ site.title }}</a></h1>
		</li>
		</ul>
		<section class="top-bar-section">
		<ul class="right">
			<li {% if page.title == "Home" %}class="active"{% endif %}><a href="/">Home</a></li>
			{% for node in site.pages %}
			{% if node.menu-title %}<li {% if node.title == page.title %}class="active"{% endif %}><a href="{{ node.url }}">{{ node.menu-title }}</a></li>{% endif %}
			{% endfor %}
		</ul>
		</section>
	</nav>
</div>



