<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.description }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ "/css/foundation.min.css" | prepend: site.url }}" />
    <link rel="stylesheet" href="{{ "/css/normalize.css" | prepend: site.url }}" />
    <link rel="stylesheet" href="{{ "/css/rh.css" | prepend: site.url }}" />
    <script type="text/javascript" src="{{ "/js/vendor/modernizr.js" | prepend: site.url }}"></script>
    <script type="text/javascript" src="{{ "/js/vendor/fastclick.js" | prepend:site.url }}"></script>
</head>
