---
layout: page
title: Blog
menu-title: Blog
permalink: /blog/
---

<div class="content-container">
<p>This is my blog, where I will post my views on various topics from time to time.</p>
<p>Occasionally I may actually have something of interest to say...</p>
</div>

<ul class="blog-post-list">
  {% for post in site.posts %}
    <li>
      <div class="content-container">
		  <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
		  <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </div>
    </li>
  {% endfor %}
</ul>
