<!DOCTYPE html>
<html>

  {% include head.html %}

    <body>
    {% include header.html %}
	
	<div id="pagecontent" class="page-container">
		<div class="row" id="maincontent">
		  <div class="small-12 columns">
		  {{ content }}
		  </div>
		</div>

		{% include footer.html %}
	</div>
	{% include endassets.html %}
    </body>
</html>