---
layout: default
---
<div class="post">
	<article class="small-12 columns">
	  <div class="row">
		<div class="small-8 columns">
			<a href="{{ "/blog/" | prepend: site.url }}" class="small button secondary">&#x25c0; Back to blog</a>
		</div>
	  </div>
	  <div class="content-container">
		  <div class="row">
			<div class="blog-post-header small-12 medium-6 columns">
				<h1>{{ page.title }}</h1>
				<p class="meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
			</div>
		  </div>

		  <div class="row">
			  <div class="small-12 columns">
			  {{ content }}
			  </div>
		  </div>
	  </div>
	  
	    <div class="content-container" id="disqus_thread"></div>
	    
	    <script type="text/javascript">
	        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
	        var disqus_shortname = 'richardhsblog'; // required: replace example with your forum shortname
	
	        /* * * DON'T EDIT BELOW THIS LINE * * */
	        (function() {
	            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
	            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
	            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
	        })();
	    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    
	  
	</article>
</div>
